header {
  height: $header-height;
  padding: 8px;
  background-color: $primary-color;
  min-height: initial;
    box-shadow: 0 0.1em 0.8em #000;
    opacity: 0.95;
    z-index: 1;

  .feedback-wrapper {
    position: relative;
    top: 1px;
    margin-right: 10px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;
    height: 3px;
  }
}