header {
  height: $header-height;
  padding: 8px;
  background-color: $primary-color;
  min-height: initial;

  .feedback-wrapper {
    position: relative;
    top: 1px;
    margin-right: 10px;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: $header-height;
    height: 3px;
    box-shadow: 0 0.1em 0.5em #000 inset;
    z-index: 1;
  }
}