aside {
  width: $sidebar-width;
  background: $primary-color;
  position: absolute;
  left: 0;
  top: $header-height;
  bottom: 0;
  color: white;
  padding: 8px;

  a {
    color: $gray-lighter;

    &:hover, &:active, &:visited, &:focus {
      color: white;
    }
  }
}