aside {
  width: $sidebar-width;
  background: $secondary-color;
  position: absolute;
  left: 0;
  top: $header-height;
  bottom: 0;
  color: white;
  padding: 8px;
  padding-right: 0;
  box-shadow: -1.5em -1.7em 2.5em -2em #000 inset;

  a {
    color: $gray-lighter;

    &:hover, &:active, &:visited, &:focus {
      color: white;
    }
  }

  div.dataset-desc {
    > button {
      position: absolute;
      right: 0;

      > i {
        vertical-align: baseline;
        display: none;
        color: #FF6363;
      }
    }

    &:hover > button > i {
      display: initial;
    }
  }
}