<div class="container-fluid">
  {{app-header isFileUploading=isFileUploading
    didUploadedSuccessfully=didUploadedSuccessfully
    on-upload-document=(action 'uploadDocument')}}

  {{app-sidebar datasetDescriptions=datasetDescriptions
    on-request-dataset=(action 'requestDataset')}}

  <main>
    {{outlet}}
  </main>
</div>